{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "prettier",
    "prettier/@typescript-eslint"
  ],

  "env": {
    "browser": true,
    "es6": true
  },

  "parser": "@typescript-eslint/parser",

  "parserOptions": {
    "project": "tsconfig.json"
  },

  "plugins": ["@typescript-eslint"],

  "rules": {
    "@typescript-eslint/explicit-function-return-type": [
      "warn",
      { "allowExpressions": true }
    ],
    "@typescript-eslint/no-use-before-define": ["error", { "functions": false }]
  }
}
